*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 150px;
    padding: 30px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header a{
    text-decoration: none;
    color: inherit;
}

header span{
    justify-content: space-between;
    text-align: center;
    border: 2px solid slateblue;
}

header img{
    width: 80px;
    height: 70px;
}

header nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

nav button{
    background-color: #005F5A;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: none;
    outline: 0;
    margin: 10px;
}

.hero h1{
    max-width: 29ch;
    align-items: center;
    margin: auto;
    font-size: 70px;
    text-align: center;

}

.hero span{
    color:#A9792B;
}
.hero p{
    max-width: 43ch;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.hero button{
    margin: auto;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 15px;
    display: block;
    margin-top: 20px;

}

.howitworks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.howitworks h2{
    margin: auto;
    font-size: 40px;
     text-align: center;
    margin-top: 90px;
}

.howitworks article{
      max-width: 70ch;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px;
    gap: 20px;
}

.container div{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.container div img{
    width: 190px;
    height: 190px;
}

.container span{
    margin: auto;
    font-size: 20px;

}

.container p{
      max-width: 35ch;
      margin: auto;
      gap: 100px;
      font-size: 16px;
      text-align: center;
}


.whatyoullexplore h2{
     margin: auto;
    font-size: 40px;
     text-align: center;
    margin-top: 90px;
}

.container2{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    gap: 30px;
}

.whatyoullexplore{
    background-color: #F3F4F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills{
    background: white;
    text-align: center;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.skills img{
    width: 180px;
    height: 180px;


}

.skills span{
    font-size: 20px;
    color: black;
    margin-top: 25px;
    max-width: 20ch;
    text-align: center;
}


.success h2{
    margin: auto;
    font-size: 30px;
     text-align: center;
    margin-top: 90px;
}

.ss img{
    width: 50px;
    height:50px;
    border: none;
    border-radius: 50%;
}


.container3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 100px;
    gap: 30px;
}

.ss{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.container3 span{
    font-size: 18px;
    text-decoration: underline;

}
.ss p{
    font-size: 16px;
}

.rmss{
     align-items: center;
    text-decoration: underline;
    text-align: center;
}


.supportus{
    background-color: whitesmoke;
    height: 300px;
}
.me{
    padding-top: 25px;
}
.supportus h2{
      margin: auto;
    font-size: 30px;
     text-align: center;
    margin-top: 90px;
    color: #1e2939;
}

.supportus p{
    max-width: 60ch;
     margin: auto;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}
.buttons{
    margin:auto;
    justify-content: center;
       text-align: center;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 15px;
    display: block;
    margin-top: 20px;
}

.but1{
    padding: 8px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}


.but2{
    padding: 8px;
    width: 150px;
    height: 50px;
   background-color: #005F5A;
   color: white;
   border-radius: 10px;
   
}
.whatyoullexplore button{
      background-color: white;
    color: black;
    border: 2px solid whitesmoke;
    outline: 0;
    padding: 15px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.topdiv{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    border-bottom: 2px solid #005F5A;
}

footer img{
    width: 230px;
    height: 100px;
    /* background-image: url(assets/images/logo.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.logoarea p{
    /* margin-top: 50px; */
    font-size: 15px;
    text-align: center;
    /* padding: 10px 50px; */
}

footer{
    display: flex;
    flex-direction: column;
}

.list{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logoarea{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 30px;
}


.logoarea div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.logoarea div i{
    font-size: 24px;
}

.bottomdiv{
    padding: 20px;
    /* background-color: #005F5A; */
    display: flex;
    flex-direction: row;
}

.bottomdiv p{
    display: block;
}

.hero button:hover{
 background: aliceblue;
    color: black;
    transform: translateY(-5px);
}

.whatyoullexplore button:hover{
    background: aliceblue;
    color: black;
    transform: translateY(-5px);
}

.but1:hover{
    background: aliceblue;
    color: black;
    transform: translateY(-5px);
}

.but2:hover{
      background: #022d2b;
    color: white;
    transform: translateY(-5px);
}

nav button:hover{
      background: #022d2b;
    color: white;
    transform: translateY(-5px);
}

/* for ipads */
@media(max-width:769px){
    body,
    main,
    section,
    div{
        overflow-x: hidden;
    }

    .container2{
        grid-template-columns: 1fr
    }

    nav {
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
        
    }

    .container3{
       grid-template-columns: 1fr;
       padding-left: 10px;
       padding-right: 10px;
    }


    .topdiv{
        display: flex;
        flex-direction: column;
    }
}
